<section class="action_menu-btn">
  <div class="container">
    <div class="wrapper">
      <div class="action_menu">
        <ul class="action_menu-list">
          <li class="action_menu-list-item">
            <button class="action_menu-list-item-btn">
              <svg class="menu-icon" width="20" height="20">
                <use href="/img/Note.svg#Note"></use>
              </svg>
            </button>
          </li>
          <li class="action_menu-list-item">
            <button class="action_menu-list-item-btn">
              <svg class="menu-icon" width="20" height="20">
                <use href="/img/Shedul-kalendar.svg#Calendar"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
      <button class="action_menu-btn-style">
        <svg class="menu-icon" width="20" height="20">
          <use href="/img/plus.svg#Group 21"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
