<section class="header-style">
  <div class="container">
    <div class="header-content">
      <svg class="header-logo" width="80" height="16">
        <use href="/img/on.time-mobile.svg#on.time"></use>
      </svg>
      <nav class="nav-style">
        <ul class="nav-list">
          <li class="nav-list-item">
            <button class="nav-button">
              <svg class="nav-icon" width="24" height="24">
                <use href="/img/bell.svg#Group 14"></use>
              </svg>
            </button>
          </li>
          <li class="nav-list-item">
            <button class="nav-button">
              <svg class="nav-icon" width="24" height="24">
                <use href="/img/menu-dots.svg#Group 33"></use>
              </svg>
            </button>
          </li>
        </ul>
      </nav>
    </div>
    <div class="schedule-note">
      <a href="../schedule.html"
        ><p class="schedule-note-style">
          <span class="active">Schedule</span>
        </p></a
      >
      <a href="../note.html"><p class="schedule-note-style">Note</p></a>
    </div>
  </div>
</section>
