<section>
  <div class="container">
    <form class="form-style">
      <svg class="form-icon" width="18" height="18">
        <use href="/img/Vector.svg#Vector"></use>
      </svg>
      <input class="form-input" type="text" placeholder="Search Note" />
    </form>
    <div class="render-container">
      <div class="render-style">
        <h2 class="render-title">Title..</h2>
        <p class="render-paragraph">some text..</p>
        <data class="render-data" value="">16.03.25</data>
      </div>
    </div>
  </div>
</section>
