<section class="menu-btn">
  <div class="container">
    <div class="menu-btn-container">
      <div class="menu-list-container">
        <ul class="menu-list">
          <li class="menu-list-item">
            <button class="menu-list-item-btn">
              <svg class="menu-icon" width="20" height="20">
                <use href="/img/Note.svg#Note"></use>
              </svg>
            </button>
          </li>
          <li class="menu-list-item">
            <button class="menu-list-item-btn">
              <svg class="menu-icon" width="20" height="20">
                <use href="/img/Shedul-kalendar.svg#Calendar"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
      <button class="menu-btn-style">
        <svg class="menu-icon" width="20" height="20">
          <use href="/img/plus.svg#Group 21"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
