$background-color-standard: #7e64ff;


.wrapper {
    display: flex;
    align-items: end;
    justify-content: space-between;
    &-action_menu{
        position: relative;
        bottom: 140px;
        left: 286px;
        transition: bottom 250ms linear;
            &-list {
                display: none;
                flex-direction: column;
                row-gap: 24px;
                position: absolute;
                &-item {
                    &-btn {
                        border-radius: 100%;
                        background-color: $background-color-standard;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        flex-shrink: 0;
                    }
                }
            }
        
        &-btn-style {
            margin-bottom: 32px;
            width: 48px;
            height: 48px;
            border-radius: 100%;
            background-color: $background-color-standard;
            box-shadow: 0 4px 4px 0 rgba(14, 8, 24, 0.25);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            flex-shrink: 0;
            transition: rotate 250ms linear;
        }

        &-btn-style:focus,
        &-btn-style:hover {
            rotate: 45deg;
        }
    }
}


// bottom: 208px;

